
:root{
  --match-border-color: rgba(0, 0, 0, 0);
}

.SymbolResultDivModal{
  /* display: block; */
  /* height: 200px; */
  /* cursor: pointer; */
  margin-left: auto;
  margin-right: auto;
  /* perspective: 1px; */
  /* background-color: rgb(255, 7, 7); */
}

.SymbolResultDiv{
  position: relative;
  border-radius: 3px;
  width:900px;
  height: 150px;
  /* cursor: pointer; */
  margin-left: auto;
  margin-right: auto;
  
  /* background-color: rgb(230, 7, 7); */
  background: #FFFFFF;
  margin-bottom: 20px;
  /* border: 1px solid #DFE3EC; */
/* Stroke / Light */
/* box-sizing: border-box; */

}

.ResultsListItem{
  border: 1px solid #DFE3EC;
  padding: 5px;
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateX(10em);
  transition: none;

}


.ResultsListItem.show {
   opacity: 1;
   transform: translateX(0);
   transition: all 0.1s cubic-bezier(.36,-0.64,.34,1.76);
 }

 .GraphCanvasModal {

    cursor: default;
    border: none;
    outline: none;
    outline-offset: none;
    margin-top: 12em;
    width: 1000px;

    position: relative;
    margin-left: auto;
    margin-right: auto;

    left: 0%;
    right: auto;
    bottom: auto;
    background-color: rgba(212, 46, 46, 0);

 }

 .GraphCanvasModalOverlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(46, 45, 45, 0.8);
   cursor: pointer;
 }

 .ResultsListItem.show.modal {

   height:660px;
   margin-top: -10em;
   border-top: none;
   /* color: white; */
   list-style-type:none;
 }

 .SymbolResultTitle_Symbol{
   position: relative;
   left: 30px;
   top: 40px;
   font-size: 35px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   color: #194474;
 }

 .SymbolResultTitle_MatchDiv{
   display: flex;
   flex-direction: column;
   margin-left: 200px;
   margin-top:-38px;
 }

 .SymbolResultTitle_MatchValue{
    position: relative;
    top:0px;
    left:18px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #194474;
    text-shadow: -1px 0px var(--match-border-color), 0 1px var(--match-border-color), 1px 0 var(--match-border-color), 0 -1px var(--match-border-color);
 }

 .SymbolResultTitle_MatchText{
   position: relative;
  margin-left: auto;
  margin-right: auto;
  left:16px;
  top:-35px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  font-weight: normal;
  color: #83868D;
 }

 .SymbolResultTitle_PatternSize{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:490px;
    top:20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    font-weight: normal;
    color: #83868D;
    text-align: center;
    line-height: 20px;
 }

 .SymbolResultTitle_PatternSize_Value{
  font-size: 18px;
  color: rgb(33, 83, 112);
  font-weight: normal;
 }

 .SymbolResultTitle_Info{
   text-transform: none;
   margin-left: 135px;
   margin-top: 1.5em;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: rgb(197, 197, 197);
   /* text-shadow: -1px 0px var(--match-border-color), 0 1px var(--match-border-color), 1px 0 var(--match-border-color), 0 -1px var(--match-border-color); */
 }

 .SymbolResult_InfoButton{
  /* display: block; */
  position: absolute;
  border: none;
  outline: none !important;
  outline-offset: none;
  background-color: rgb(33, 83, 112);
  color: #FFFFFF;
  margin-left: 420px;
  margin-top: 50px;
  width:180px;
  height: 40px;
  border: 1px solid #DFE3EC;
  box-sizing: border-box;
  border-radius: 10px;
}

.SymbolResult_InfoButton:hover{
  background-color: rgba(33, 83, 112, 0.7);

}