.GraphSearchUIdiv{
  /* background-color: crimson; */
  overflow: hidden;
  height: 750px;
}


/*  SEARCH BUTTON  */
/* -------------------------*/

.GraphSearchButton{
    position: relative;
    left: 850px;
    top: 10px;
    cursor: pointer;
    height: 50px;
    width:137px;/*max because of margin-left*/
    background-image: radial-gradient(154.64% 145.35% at 106.88% -11.63%, #1E568E 0%, #142C4E 100%);
    border: none;
    outline: none;
    outline-offset: none;
    border-radius: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: rgb(255, 255, 255); 
    text-transform: none;
}

.GraphSearchButton:hover{
    /* background-image: rgb(48, 48, 48); */
    background-image: radial-gradient(154.64% 145.35% at 106.88% -11.63%, #1E568E 0%, #142C4E 200%);
}

.GraphSearchButton:focus {
    border: none;
    outline: none;
    outline-offset: none;
  }

.IndexesDropDown{
    position: absolute;
    width: 250px;
    margin-left: 15em;
    margin-top: 1em;
    
}

.GraphCanvasClearButton {
  position: absolute;
  width: 50px;
  height: 50px;
  left:920px;
  top: 20px;
  border: 2px solid #DFE3EC;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 50px;
  background-color:rgb(255, 255, 255); 
}

.GraphCanvasClearButton:active{
  padding-top: 3px;
  padding-left: 9px;
  border: 2px solid #cbcdd1;
}


.GraphCanvasClearButton>img{
  margin-top: 0px;
  content: url("../../assets/graph_ClearAll_Button.svg");
  height:25px;
  
}

.GraphCanvasRecoverButton {
  /* display: flex; */
  position: absolute;
  width: 50px;
  height: 50px;
  left:860px;
  top: 20px;
  /* border: none; */
  border: 2px solid #DFE3EC;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 50px;
  background-color:rgb(255, 255, 255); 
  padding-left: 2px;
  /* padding: 20px; */
}

.GraphCanvasRecoverButton:active {
  padding-top: 3px;
  padding-left: 5px;
  border: 2px solid #cbcdd1;
}

.GraphCanvasRecoverButton>img{
  content: url("../../assets/graph_RecoverLast_Button.svg");
  height:25px;
  
}

.GraphCanvasDropdownImageDiv{
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  left:-8px;
  top:-3px;
  /* background-color: #1E568E00; */
}

.GraphCanvasBearishDropdownImageDiv_img{
  width: 50px;
  margin-top: 9px;
  content: url("../../assets/bear.svg");
  height:31px;
}

.GraphCanvasBullisDropdownImageDiv_img{
  width: 50px;
  margin-top: 9px;
  content: url("../../assets/bull.svg");
  height:31px;
}

.GraphCanvasBullishPatternsButton {
  position: absolute;
  width: 50px;
  height: 50px;
  left:100px;
  top:20px;
  border: 2px solid #DFE3EC;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 50px;
  background-color:rgb(255, 255, 255); 
}

.GraphCanvasBullishPatternsButton:active{
  padding-top: 3px;
  padding-left: 9px;
  border: 2px solid #cbcdd1;
}

  .GraphCanvasBearishPatternsButton {
    position: absolute;
    width: 50px;
    height: 50px;
    left:160px;
    top:20px;
    border: 2px solid #DFE3EC;
    outline: none !important;
    outline-offset: none !important;
    border-radius: 50px;
    background-color:rgb(255, 255, 255); 
  }

  .GraphCanvasBearishPatternsButton:active{
    padding-top: 3px;
    padding-left: 9px;
    border: 2px solid #cbcdd1;
  }

.GraphCanvas_PatternText{
  position: absolute;
  left: 230px;
  top: 45px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0px;
  font-weight: bolder;

  display: flex;
  align-items: center;
  text-align: center;

  /* Text / 2 */

  color: #3C3E45;
  
}

.GraphCanvas_DrawMessage{
  position: absolute;
  left: 700px;
  top: 410px;

  font-family: Segoe Script;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* Text / 2 */

  color: #83868D;
  
}

.GraphSearchingDiv{
  position: relative;
  top: 50px;
  height: 75px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: tomato; */
  pointer-events: none;
}

.GraphSearchingProgress{
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-weight: bolder;
  color: #1E568E;
}

.GraphSearchingAnimationDiv{
  /* position: absolute; */
  margin-top:-70px;
  height: 75px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: tomato; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .GraphSearchingAnimationDiv {
    animation: GraphSearchingAnimationDiv-spin infinite 1s linear;
  }
}

@keyframes GraphSearchingAnimationDiv-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Graph_NoMatchMessageDiv{
  width: 200px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /* border-style: solid;    */
  border-radius: 10px;
  pointer-events: none;
}

.Graph_NoMatchMessage{
  line-height: 30px;
  text-align: center;
  align-items: center; 
  justify-content: center; 
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}
