#grid-gradient-colors {
  --color-stop-1: #B4B4B4;
  --color-stop-2: #ffffff;
}


#shadow{
  --dx:0.2;
  --dy:0.4;
  --stdDeviation:0.2;
}
  .myCanvas {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width : 900px;
    height:450px;
    border-radius: 10px;
    
  }
  
  .GraphDrawArea {
    width: 100%;
    height: 100%;
    /* border: 3px double rgb(0,0,0); */
    /* border: 2px solid #DFE3EC; */
    border-radius: 10px;
    
    /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/meh.png"), auto; */
    cursor: crosshair; /*url("../../assets/pencil_small.png") 0 35, auto;*/
    /* cursor: crosshair; */
    /* background-color: rgb(247, 247, 255); */
    /* background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(216, 239, 250)83%, rgb(179, 224, 245)85%, rgb(179, 224, 245)); */
    background-color: white;
  }

  .GraphDrawArea.selectItem {
    cursor:pointer;
  }

  .GraphDrawArea.grabItem {
    cursor:grabbing;
  }

  .GraphDrawArea.regularCursor {
    cursor:crosshair;
  }
  
  .path {
    fill: none;
    stroke-width: 1.5px;
    stroke: black;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .drawing {
    width: 100%;
    height: 100%;
  }


  .simpleCircle{
    fill: rgb(73, 92, 179);
    filter: url(#dropshadow);
    /* fill: url(#linear-gradient); */
    /* background: radial-gradient(289% 289% at 50% 11%, #EB64EE 0%, #641F7C 100%); */
    /* box-shadow: 0px 4px 4px rgba(101, 45, 95, 0.25); */
  }

  .editCircle{
    fill: rgb(128, 240, 233);
    filter: url(#dropshadow);
  }

  .GraphCanvas_gridLine{
    /* stroke:"url(#grid-gradient)" */
    /* stroke: linear-gradient(to bottom, rgba(180,180,180, 0.5), rgb(0, 0, 0)); */
    stroke: rgba(180, 180, 180, 0.25);
  }


  