#grid-gradient-colors {
  --color-stop-1: #B4B4B4;
  --color-stop-2: #ffffff;
}


/* #linear-gradient {
  --color-stop-1: #a770ef;
  --color-stop-2: #cf8bf3;
  --color-stop-3: #fd9bf8;
} */

#shadow{
  --dx:0.2;
  --dy:0.4;
  --stdDeviation:0.2;
}

/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    
  } */

  .CandlestickCanvas_myCanvas {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width : 900px;
    height:450px;
    border-radius: 10px;
    
    /* border: 2px solid #DFE3EC; */
  }
  
  .PatternBarsDiv{
    position: absolute;
  }
  
  .candlestickdrawArea {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* border: 2px solid #DFE3EC; */
    cursor: crosshair;
    
    background-color: white;
    
    /* background-image: linear-gradient(to bottom, rgb(20, 43, 85), rgb(24, 52, 104)80%, rgb(33, 60, 85) 83%, rgb(31, 50, 85)); */
    
  }

  .candlestickdrawArea.selectItem {
    cursor:pointer;
  }

  .candlestickdrawArea.grabItem {
    cursor:grabbing;
  }
  
  .path {
    fill: none;
    stroke-width: 1.5px;
    stroke: black;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .CandlestickCanvas_drawing {
    width: 100%;
    height: 100%;
  }


  .redCircle{
    fill: rgb(73, 92, 179);
    filter: url(#dropshadow);
    /* fill: url(#linear-gradient); */
    /* background: radial-gradient(289% 289% at 50% 11%, #EB64EE 0%, #641F7C 100%); */
    /* box-shadow: 0px 4px 4px rgba(101, 45, 95, 0.25); */
  }

  .editCircle{
    fill: rgb(128, 240, 233);
    filter: url(#dropshadow);
  }

  .CandlestickCanvas_gridLine{
    /* stroke:"url(#grid-gradient)" */
    /* stroke: linear-gradient(to bottom, rgba(180,180,180, 0.5), rgb(0, 0, 0)); */
    stroke: rgba(22, 112, 230, 0.096);
  }


  