.CandleSearchUIdiv{
  /* background-color: crimson; */
  overflow: hidden;
  height: 750px;
    /* overflow: visible; */
    /* overflow: scroll; */
    /* background-color: salmon; */
}


/*  SEARCH BUTTON  */
/* -------------------------*/

.CandleSearchButton{
    position: relative;
    left:850px;
    top:10px;
    cursor: pointer;
    height: 50px;
    width:137px;/*max because of margin-left*/
    background-image: radial-gradient(154.64% 145.35% at 106.88% -11.63%, #1E568E 0%, #142C4E 100%);
    border: none;
    outline: none;
    outline-offset: none;
    border-radius: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: rgb(255, 255, 255); 
    text-transform: none;
}

.CandleSearchButton:hover{
    /* background-image: rgb(48, 48, 48); */
    background-image: radial-gradient(154.64% 145.35% at 106.88% -11.63%, #1E568E 0%, #142C4E 200%);
}

.CandleSearchButton:focus {
    border: none;
    outline: none;
    outline-offset: none;
  }

.IndexesDropDown{
    position: absolute;
    width: 250px;
    margin-left: 15em;
    margin-top: 1em;
    
}

.CandleCanvasClearButton {
    position: absolute;
    width: 50px;
    height: 50px;
    left:1990px;
    top: 20px;
    border: 2px solid #DFE3EC;
    outline: none !important;
    outline-offset: none !important;
    border-radius: 50px;
    background-color:rgb(255, 255, 255); 
  }

  .CandleCanvasClearButton:active{
    padding-top: 3px;
    padding-left: 9px;
    border: 2px solid #cbcdd1;
  }

  .CandleCanvasClearButton>img{
    margin-left: 0px;
    margin-top: 0px;
    content: url("../../assets/candle_ClearAll_Button.svg");
    height:25px;
  }

  .CandlestickCanvasRecoverButton {
    /* display: flex; */
    position: absolute;
    width: 50px;
    height: 50px;
    left:1930px;
    top: 20px;
    /* border: none; */
    border: 2px solid #DFE3EC;
    outline: none !important;
    outline-offset: none !important;
    border-radius: 50px;
    background-color:rgb(255, 255, 255); 
    padding-left: 2px;
    /* padding: 20px; */
  }
  
  .CandlestickCanvasRecoverButton:active {
    padding-top: 3px;
    padding-left: 5px;
    border: 2px solid #cbcdd1;
  }
  
  .CandlestickCanvasRecoverButton>img{
    content: url("../../assets/graph_RecoverLast_Button.svg");
    height:25px;
    
  }

.AddGreenCandleButton{
  position: absolute;
  width: 50px;
  height: 50px;
  left:1870px;
  top: 20px;
  border: 2px solid #DFE3EC;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 50px;
  background-color:rgb(255, 255, 255); 
}


.AddGreenCandleButton:active{
  padding-top: 4px;
  padding-left: 9px;
  border: 2px solid #cbcdd1;
}


.AddRedCandleButton{
  position: absolute;
  width: 50px;
  height: 50px;
  left:1810px;
  top: 20px;
  border: 2px solid #DFE3EC;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 50px;
  background-color:rgb(255, 255, 255); 
}

.AddRedCandleButton:active{
  padding-top: 4px;
  padding-left: 9px;
  border: 2px solid #cbcdd1;
}

.AddGreyCandleButton{
  position: absolute;
  width: 50px;
  height: 50px;
  left:1750px;
  top: 20px;
  border: 2px solid #DFE3EC;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 50px;
  background-color:rgb(255, 255, 255); 
}


.AddGreyCandleButton:active{
  padding-top: 4px;
  padding-left: 9px;
  border: 2px solid #cbcdd1;
}

.CandleCanvas_PatternText{
  position: absolute;
  left:1310px;
  top: 30px;
  width: 150px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0px;
  font-weight: bolder;
  white-space: nowrap;
  align-items: center;
  color: #3C3E45;
  display: flex;
}

.CandleCanvas_DrawMessage{
  /* background-color: chartreuse; */
  position: absolute;
  left: 1774px;
  top: 414px;
  width: 270px;
  font-family: Segoe Script;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #83868D;
  
}

.CandleCanvasDropdownImageDiv{
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  left:-8px;
  top:-3px;
  /* background-color: #1E568E00; */
}

.CandleCanvasBearishDropdownImageDiv_img{
  width: 50px;
  margin-top: 9px;
  content: url("../../assets/bear.svg");
  height:31px;
}

.CandleCanvasBullisDropdownImageDiv_img{
  width: 50px;
  margin-top: 9px;
  content: url("../../assets/bull.svg");
  height:31px;
}

.CandleCanvasBullishPatternsButton {
    position: absolute;
    width: 50px;
    height: 50px;
    left:1170px;
    top: 20px;
    border: 2px solid #DFE3EC;
    outline: none !important;
    outline-offset: none !important;
    border-radius: 50px;
    background-color:rgb(255, 255, 255); 
  }
  .CandleCanvasBullishPatternsButton:active{
    padding-top: 3px;
    padding-left: 9px;
    border: 2px solid #cbcdd1;
  }

  .CandleCanvasBearishPatternsButton {
    position: absolute;
    width: 50px;
    height: 50px;
    left:1230px;
    top: 20px;
    border: 2px solid #DFE3EC;
    outline: none !important;
    outline-offset: none !important;
    border-radius: 50px;
    background-color:rgb(255, 255, 255); 
  }

  .CandleCanvasBearishPatternsButton:active{
    padding-top: 3px;
    padding-left: 9px;
    border: 2px solid #cbcdd1;
  }

  .CandleSearchingAnimationDiv{
    position: absolute;
    left:1570px;
    top: 580px;
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: tomato; */
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .CandleSearchingAnimationDiv {
      animation: CandleSearchingAnimationDiv-spin infinite 1s linear;
    }
  }
  
  @keyframes CandleSearchingAnimationDiv-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .Candle_NoMatchMessageDiv{
    position: relative;
    width: 200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    top: -150px;
    /* border-style: solid;    */
    border-radius: 10px;
    pointer-events: none;
  }
  
  .Candle_NoMatchMessage{
    position: absolute;
    top:200px;
    line-height: 30px;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
  }

