
:root{
  --match-border-color: rgba(0, 0, 0, 0);
}

.CandleSymbolResultDivModal{
  /* display: block; */
  /* height: 200px; */
  /* cursor: pointer; */
  margin-left: auto;
  margin-right: auto;
  /* width: 1000px; */
  /* perspective: 1px; */
  /* background-color: rgb(255, 7, 7); */
}

.CandleSymbolResultDiv{
  border-radius: 3px;
  width:900px;
  height: 150px;
  /* cursor: pointer; */
  margin-left: 0px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  background: #FFFFFF;
  margin-bottom: 20px;
  /* border: 1px solid #DFE3EC; */
/* Stroke / Light */
/* box-sizing: border-box; */
}

.CandleResultsListItem{
  border: 1px solid #DFE3EC;
  padding: 5px;
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateX(10em);
  transition: none;
}

/* .ResultsListItem{
  background-color: rgba(0, 0, 0, 0);
} */

.CandleResultsListItem.show {
   opacity: 1;
   transform: translateX(0);
   /* transform: rotateX(-90deg); */
   /* transform: none; */
   transition: all 0.1s cubic-bezier(.36,-0.64,.34,1.76);
 }

 .CanvasModal {
   /* transform-origin: left; */
   /* transform-origin: center; */
    cursor: default;
    border: none;
    outline: none;
    outline-offset: none;
    margin-top: 12em;
    width: 1000px;
    /* height:200px; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* top: 37%; */
    left: 0%;
    right: auto;
    bottom: auto;
    background-color: rgba(212, 46, 46, 0);
    /* height:200px */
 }

 .CanvasModalOverlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0.4);
   cursor: pointer;
 }

 .ResultsListItem.show.modal {
   /* transform-origin: center; */
   /* width: 100%; */
   height:660px;
   margin-top: -10em;
   border-top: none;
   /* color: white; */
   list-style-type:none;
 }

 /* .SymbolResultTitle_Symbol{
    margin-left: 130px;
   margin-top: -0.5em;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: rgb(0, 238, 255);
 }

 .SymbolResultTitle_Match{
    margin-left: 20px;
   margin-top: -0.5em;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: rgb(255, 255, 255);
   text-shadow: -1px 0px var(--match-border-color), 0 1px var(--match-border-color), 1px 0 var(--match-border-color), 0 -1px var(--match-border-color);
 }

 .SymbolResultTitle_Info{
   text-transform: none;
   margin-left: 135px;
   margin-top: 1.5em;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: rgb(197, 197, 197);
 } */