.AppBarDiv{
  width: 1070px;
  height: 60px;
  /* background-color: black; */
  margin-left: auto;
  margin-right: auto;
}

 .MainParentDiv{
   /* background: radial-gradient(140.84% 140.84% at 76.54% -32.14%, rgb(63, 113, 206) 40%, rgb(37, 37, 37) 120%); */
   background: #ECF0F4;
   /* background: #E5E5E5; */
   overflow: hidden;
   /* overflow-y: auto; */
   /* overflow-x: hidden; */
   /* background: radial-gradient(140.84% 140.84% at 76.54% -32.14%, #EB64EE 0%, #2A1731 100%); rgb(7, 33, 82)*/
    /* background-color: black; */
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   height:100vh;
   /* height:1000px; */
   margin: 0;
   padding: 0;
   min-height:100%;
   /* height:100%; */
   /* height:721px; */
 }


/* 
 .ResultsDiv {
    margin-top: 11.2em;
    float:left;
    width:100%; 
 } */