.AboutUsDiv{
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.AboutUsTitle{
    position: relative;
    top: 50px;
    left:30px;
    width: 100%;
    color: #3C3E45;
    font-family: Arial;
    font-size: 60px;
    line-height: 30px;
    font-weight: 900;
}

.AboutUsText{
    position: relative;
    top: 100px;
    left:30px;
    width: 110%;
    color: #83868D;
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
}

.AboutUsTextTitleName{
    font-size: 18px;
    /* background: linear-gradient(to top, rgb(136, 136, 136) 10%, rgb(255, 255, 255) 60%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    font-weight: bold;
    color: #83868D;
}

.AboutUsImage{
    /* position: absolute; */
    margin-left:68px;
    margin-top:0px;
    content:url("../../assets/aboutusimage.svg");
    max-height: 100%;
    
}