.ContactUsDiv{
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
}

.FormDiv{
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    text-align: left;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.FormInputDiv{
    /* margin */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left:40px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 50%;
    /* width: 1000px; */
    /* justify-content: center; */
}

.FormTitle{
    position: relative;
    top: 20px;
    left:40px;
    font-family: Arial;
    font-size: 60px;
    line-height: 70px;
    color:#3C3E45;
    font-weight: 900;
}

.FormMessage{
    position: relative;
    top: 20px;
    left:50px;
    font-family: Arial;
    font-size: 16px;
    line-height: 25px;
    color:#83868D;
}

.FormButton{
    margin-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left:-152px;
    top:-170px;
    width: 500px;
    background: radial-gradient(154.64% 145.35% at 106.88% -11.63%, #1E568E 0%, #142C4E 100%);
    color: rgb(255, 255, 255);
}

.FormButton:hover{
    background-color: rgb(43, 132, 184);
}

.FormResponse{
    font-family: Arial;
    font-size: 18px;
    /* display: block; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left:-150px;
    top:0px;
    width: 300px;
    text-align: center;
}

.ContactUsImage{
    position: relative;
    left:0px;
    top:0px;
    content:url("../../assets/contactusimage.svg");
    max-height: 100%;
}