.SearchResultsMainDiv{
   /* margin-top:200px; */
   margin-top:710px;
   width: 100%;
   margin-bottom: 70px;
   
}

.SearchResultDivWithResults {

   margin-left: auto;
   margin-right: auto;
   margin-top: 0em;
   width:100%; 
}

.ResultsList{
   margin-left: auto;
   margin-right: auto;
   width: 900px;
   list-style-type: none;
   padding-left: 0px;
   /* background-color: crimson; */
} 

.SearchResultDivWithResults li.show{
   opacity: 1;
   transform: none;
   transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
 }


.SearchResultsMoreButtonListItem{
   width: 180px;
   margin-left: auto;
   margin-right: auto;
   /* background-color: crimson; */
}

.SearchResultsMoreButton{
   position: relative;
   border: 1px solid #83868D;
   box-sizing: border-box;
   border-radius: 10px;
   outline: none !important;
   outline-offset: none;
   white-space: nowrap;
   margin-top: 0px;
   width:180px;
   margin-left: auto;
   margin-right: auto;
}

.SearchResultsMoreButton:hover{
   background-color: rgba(178, 178, 179, 0.384);

}




