:root{
    --title-border-color: rgb(105, 14, 89);
}

.logoDiv {
    position: relative;
    /* left:200px; */
    /* display: block; */
    margin-left:auto;
    margin-right: auto;
    /* width: 1000px; */
    left:0px;
    top:-65px;
    height: 0px;
}

.LogoImage{
    /* float: right; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 500px; */
    /* margin-left: 200px; */
    /* margin-top: 15px; */
    content:url("../assets/logo.svg");
    min-height: 43px;
    /* max-height: 53px; */
    /* width: 100px; */
    /* height: 100px; */
    /* height:48px; */
    /* margin-left: -30em; */
    /* margin-top: -10em; */
}

.TitleImage{
    /* float: right; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-left: -2.5em; */
    /* margin-top: 15px; */
    margin-left:20px;
    content:url("../assets/title.svg");
    min-height: 20px;
    /* width: 100px; */
    /* height: 100px; */
    /* height:48px; */
    /* margin-left: -30em; */
    /* margin-top: -10em; */
}

.TitleMessage{
    /* float: right; */
    margin-left: -2.8em;
    margin-top: -1.7em;
    font-family: Segoe Script;
    font-size: 16px;
    /* font-weight: bold; */
    color: white;
}

/* .logoImage {
    width:4em;
    height:3em;
    vertical-align: center;
    margin-top:-2.5em;
}



.logoTitle {
    margin-top: 20px;
    text-align: center;
    color: rgb(233, 233, 233);
    font-size: 55px;
    font-family: Impact;
    text-shadow: -2px 0px var(--title-border-color), 0 2px var(--title-border-color), 2px 0 var(--title-border-color), 0 -2px var(--title-border-color);
    font:900;
} */