.BottomUI_Div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 1070px;
    height:150px;
    /* background-color: khaki; */
}

.BottomUI_SearchingDiv{
    position: relative;
    top: 50px;
    height: 75px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: tomato; */
    pointer-events: none;
  }
  
  .BottomUI_SearchingProgress{
    position: relative;
    top:10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-weight: bolder;
    color: #1E568E;
  }

.BottomUI_SearchingAnimationDiv{
    position: relative;
    left:0px;
    top: -75px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: tomato; */
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .BottomUI_SearchingAnimationDiv {
      animation: BottomUI_SearchingAnimationDiv-spin infinite 1s linear;
    }
  }
  
  @keyframes BottomUI_SearchingAnimationDiv-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .BottomUI_NoMatchMessageDiv{
    position: relative;
    width: 200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    top: -70px;
    /* border-style: solid;    */
    border-radius: 10px;
    pointer-events: none;
  }
  
  .BottomUI_NoMatchMessage{
    position: absolute;
    top:200px;
    line-height: 30px;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
  }