.MarketIndexesDropDown{
    position: absolute;
    width: 430px;
    height:50px;
    margin-left: -230px;
    margin-top: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none !important;
}

.MarketIndexesDropDown:hover {
    background-color: #d1d1d1;
}

.MarketIndexesDropDown_Text{
    color: #3C3E45;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 16px;
    margin-left: -175px;
    width: 200px;
    text-transform: none;
    white-space: nowrap;
}

.MarketIndexesDropDown_Title{
    position: absolute;
    color: #3C3E45;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 12px;
    margin-left: 0px;
    left:120px;
    top:60px;
    width: 200px;
    text-transform: none;
}