.MinBarSliderText{
    color:#83868D;
    /* width:250px; */
    margin-top: -55px;
    margin-left:35px;
    /* margin-right: auto; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    /* font-weight: 500; */
    /* background-color: salmon; */
    width: 100%;
    height:25px;
    text-align: center;
}