.NavbarDiv{
    position: relative;
    flex-grow: 1;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    height:100%;
    /* overflow: scroll; */
    overflow-y: scroll;
    /* overflow-y: auto; */
    /* padding-right: 450px; */
    /* overflow: auto; */
    /* cursor: pointer; */
}

.NavbarVisual{
    /* background-color: #93b0c4; */
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    border-radius: 7px;
    background-color: #294c7a00;
    height: 35px;
    outline: none !important;
    /* cursor: pointer; */
    /* height: 5px; */
}

  