.ResultsTopBarDiv{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #76b1ec; */
    background-color: #ECF0F4;
    /* background: radial-gradient(80% 80% at 50% 50%, rgb(70, 148, 185) 10%, rgb(255, 255, 255) 250%); */
    /* border-radius: 25px; */
    /* border-style: solid;   */
    border-color: rgb(252, 252, 252); 
    border-width: 2px;
    position: sticky;
    z-index: 1;
    height: 60px;
    width: 100%;
    top:-0.5px;
    transform: translateY(0px);
    transition: none;
    opacity: 1;
}

.TopBarCenterDiv{
    /* background-color: crimson; */
    width:1070px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.ResultsTopBarDiv.withModal{
    z-index: 0;
}

.ResultsTopBarDiv.withoutModal{
    z-index: 1;
    
}

.ResultsTopBarDiv.show {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s;
    transition-timing-function: ease-in;
}

.PointCircle{
    fill:rgb(35, 93, 121);
}

.TotalResultsDiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 130px;
    top:-15px;
}

.TotalResultsDiv.EndSearch{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90px;
    top:-15px;
}

.TotalResultsDivMssage{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #83868D;
    margin-top:8px;
}

.TotalResultsDivAmount{
    /* position: absolute; */
    /* left:30px; */
    /* top: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 125px;
    margin-top:-71px;
    color: #3C3E45;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.HighestMatchDiv{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 440px;
    top:-15px;
}

.HighestMatchDivMssage{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 17px;
}

.HighestMatchDivSymbol{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top:-45px;
    color: rgb(0, 242, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.HighestMatchDivMatch{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top:-45px;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.TopBarSearchingIconDiv{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 90px;
    top: 10px;
    opacity: 1;
    /* background-color: rgb(61, 233, 8); */
}

@media (prefers-reduced-motion: no-preference) {
    .TopBarSearchingIconDiv {
      animation: TopBarSearchingIconDiv-spin infinite 3s linear;
    }
  }
 
  @keyframes TopBarSearchingIconDiv-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .MiniCanvasDiv{
    display: flex;
    position: absolute;
    /* background-color: crimson; */
    cursor:all-scroll;
    width: 180px;
    height: 120px;
    background-color: white;
    left:-120px;
    top:60px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: 2px solid #DFE3EC;
    border-radius: 10px;
    filter:drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.07));
}

  .MiniCanvas_PatternName{
      position: absolute;
      top:-20px;
      left:5px;
      font-weight: 900;
      white-space: nowrap;
      font-size: 13px;
  }