.SymbolGraph {
    position: relative;
    /* z-index: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background-color: salmon; */
    margin-top: 0.4em;
    margin-left: 0.5em;
    width: 30%;
}

.SymbolGraphModal {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    /* z-index: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background-color: rgba(0,0,0,1); */
    width: 100%;
}