.TimeFrameDropDown{
    position: absolute;
    width: 150px;
    height:50px;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none !important;
    margin-top: 1px;
}

.TimeFrameDropDown:hover {
    background-color: #d1d1d1;
}

.TimeFrameDropDown_Text{
    position: absolute;
    color: #3C3E45;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    top:11px;
    left:-25px;
    width: 200px;
    text-transform: none;
}

.TimeFrameDropDown_Title{
    position: absolute;
    color: #3C3E45;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 12px;
    margin-left: 0px;
    left:-22px;
    top:60px;
    width: 200px;
    text-transform: none;
}